.footer-soc {
  @media screen and(max-width:767px) {
    text-align: center;
  }
  @media screen and(min-width:768px) {
    margin-left: 70px;
  }

  &__title {
    margin-bottom: 20px;
    color: $footerTextSoc;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.17;
  }
}
.footer-social {
  display: flex;
  list-style: none;
  padding: 0;

  @media screen and(max-width:767px) {
    justify-content: center;
    margin-bottom: 60px;
  }
  @media screen and(min-width:768px) {
    margin: 0;
    cursor: pointer;
  }
  &__item {
    margin-right: 10px;
  }
  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    color: $whiteBody;
    background-color: $backgroundSocial;

    transition: $transitionBackgroundColor;
  }
  &__icon {
    fill: var(--body-background-color);
  }

  &__link {
    &:hover,
    &:focus {
      background-color: var(--hover-color);
    }
  }
}
