.hero {
  text-align: center;
  @media screen and (max-width: 767px) {
    padding-top: 118px;
    padding-bottom: 118px;
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-overlay {
  background-image: url("/images/heroimg/hero_img_480.jpg");

  margin-left: auto;
  margin-right: auto;
  background-color: $overlayColor;
  background-position: center;
  background-size: cover;
  @media (max-wdith: 1199px) {
    width: 100%x;
    height: auto;
  }
  @media screen and (max-width: 767px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1600px;
  }
}

@media (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: url("/images/heroimg/hero_img_480@2x.jpg");
  }
}

@media (min-wdith: 768px) {
  .hero-overlay {
    background-image: url("/images/heroimg/hero_img_768.jpg");
  }
}
@media (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: url("/images/heroimg/hero_img_768@2.jpg");
  }
}
@media (min-wdith: 1200px) {
  .hero-overlay {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(194, 198, 249, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("/images/heroimg/hero_img_1200@2x.jpg");

    background-color: $overlayColor;
    background-position: center;
    background-size: cover;
  }
}
@media (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: url("/images/heroimg/hero_img_1200@2x.jpg");
  }
}

.hero-overlay__title {
  display: inline-block;

  margin-bottom: 30px;

  color: $whiteBody;
  font-weight: 900;

  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media (max-wdith: 1199px) {
    text-align: center;
    width: 360px;
    font-size: 26px;
  }
  @media (min-wdith: 1200px) {
    width: 696px;
    font-size: 44px;
  }
}
.hero-overlay__button {
  display: inline-block;
  // cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  margin: 0;
  letter-spacing: 0.06em;
  font-family: inherit;
  border: none;
  background-color: var(--hover-color);
  color: var(--footer-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $heroButtonHover;
  }
}
