.menu-button {
  display: inline-flex;

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  fill: $text-color;

  &:hover,
  &:focus {
    fill: $hoverColor;
  }

  &__icon-cross {
    display: none;
  }
  // &.is-open__icon-cross {
  //   display: block;
  // }

  // &.is-open__icon-menu {
  //   display: none;
  // }
}
@media screen and (min-width: 768px) {
  menu_button {
    display: none;
  }
}
.is-open .menu-button__icon-cross {
  display: block;
}

.is-open .menu-button__icon-menu {
  display: none;
}
