.menu-container {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  &is-open {
    display: block;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}
