$overlayColor: #c4c4c4;
$whiteBody: #fff;
$black: #212121;
$logoColor: #2196f3;
$hoverColor: #2196f3;
$heroButtonHover: #188ce8;
$footerBackColor: #2f303a;
$text-color: #757575;
$footerText: #ffffff;
$footerTextTransp: rgba(255, 255, 255, 0.6);
$footerTextSoc: rgba(255, 255, 255, 1);
$backgroundSocial: rgba(255, 255, 255, 0.1);
$footerInput: #2f303a;
