// %hero-overlay {
//   @media screen and (min-width: 768px) {
//     width: 768px;
//   }
//   &title {
//     width: 660px;
//   }
// }
.box {
  width: 480px;
  height: 400px;
  background-image: url("/images/heroimg/hero_img_480.jpg");
  background-size: 480px 400px;
}

/* Redefine the path to the 2x image
    if the screen density is at least 2  */
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .box {
    background-image: url("/images/heroimg/hero_img_480@2x.jpg");
  }
}
.box {
  width: 768px;
  height: 400px;
  background-image: url("/images/heroimg/hero_img_768.jpg");
  background-size: 768px 400px;
}

/* Redefine the path to the 2x image
    if the screen density is at least 2  */
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .box {
    background-image: url("/images/heroimg/hero_img_768@2x.jpg");
  }
}
.box {
  width: 1600px;
  height: 400px;
  background-image: url("/images/heroimg/hero_img_1200.jpg");
  background-size: 1600px 600px;
}

/* Redefine the path to the 2x image
    if the screen density is at least 2  */
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .box {
    background-image: url("/images/heroimg/hero_img_1200@2x.jpg");
  }
}
